.copy-notification {
  position: fixed;
  top: 10px;
  right: 10px;
  background-color: #00c853;
  color: #fff;
  padding: 10px;
  border-radius: 5px;
  animation: fadeOut 3s ease-in-out;
}

@keyframes fadeOut {
  0% {
    opacity: 1;
  }

  100% {
    opacity: 0;
  }
}


.text-container {
  max-width: 400px;
  white-space: normal;
  word-wrap: break-word;
}