<div class="container">

  <form *ngIf="!editMode" (ngSubmit)="addText()" class="my-2" >
    <div class="input-group mb-2">
      <input class="form-control" placeholder="Überschrift" [(ngModel)]="createHeader" name="newHeader"
        maxlength="100">
          <button class="btn btn-primary" type="submit">+</button>
    </div>
    <div class="input-group mb-2">
          <textarea class="form-control" placeholder="Hier Text eingeben" [(ngModel)]="createText" name="newText"
            maxlength="1000"></textarea>

    </div>
 
  </form>

  <form *ngIf="editMode" (ngSubmit)="saveEdit()" class="my-2">
    <div class="input-group mb-2">
      <input class="form-control" placeholder="Edit header" [(ngModel)]="editHeader" name="editHeader" maxlength="100">
    </div>
    <div class="input-group mb-2">
            <textarea class="form-control" placeholder="Edit text" [(ngModel)]="editText" name="editText"
              maxlength="1000"></textarea>

    </div>
    <button class="btn btn-success" type="submit">Speichern</button>
    <button class="btn btn-secondary mx-2" (click)="cancelEdit()" type="button">Abbrechen</button>
  </form>

  <div class="input-group my-3">
    <input class="form-control" placeholder="Filter" [(ngModel)]="filterText" name="filterText">
  </div>

  <div class="task-list" style="width: 700px; height: 600px; overflow-y: auto;">
    <ul class="list-group">
      <li *ngFor="let item of getFilteredTexts(); let i = index"
        class="list-group-item d-flex justify-content-between align-items-center">
        <div class="text-container">
          <h5>{{ item.header }}</h5>
          <span class="mx-3">{{ item.text }}</span>
        </div>
        <div>
          <div class="d-flex">
            <button class="btn btn-danger mx-2" (click)="delText(i)">
              <i class="bi bi-trash-fill"></i>
            </button>
            <button class="btn btn-success" (click)="copyText(i)">
              <i class="bi bi-clipboard"></i>
            </button>
            <button class="btn btn-primary mx-2" (click)="editTextMethod(i)">
              <i class="bi bi-pencil-fill"></i>
            </button>
            <div class="input-group mx-2">
              <button class="btn btn-sm btn-primary" (click)="goUp(i)">
                <i class="bi bi-arrow-up-square-fill"></i>
              </button>
              <button class="btn btn-sm btn-primary" (click)="goDown(i)">
                <i class="bi bi-arrow-down-square-fill"></i>
              </button>
            </div>
          </div>
        </div>
      </li>
    </ul>
  </div>
</div>
<div *ngIf="showCopyNotification" class="copy-notification">
  copied
</div>