<div class="container">
  <form (ngSubmit)="addTask()" class="mb-3">
    <div class="input-group">
      <input class="form-control" placeholder="Enter a new task" [(ngModel)]="createTask" name="newTask" maxlength="33">
    </div>
  </form>

  <div class="task-list" style="width: 400px; height: 300px; overflow-y: auto;">
    <ul class="list-group">
      <li *ngFor="let task of tasks; let i = index" class="list-group-item d-flex justify-content-between align-items-center">
        <span><i class="bi bi-list-task"></i> {{ task }}</span>
        <div>
          <button class="btn btn-danger mx-2" (click)="delTask(i)">
            <i class="bi bi-trash-fill"></i>
          </button>
          <button class="btn btn-primary" (click)="editTask(i)">
            <i class="bi bi-pencil-fill"></i>
          </button>
        </div>
      </li>
    </ul>
  </div>
</div>
