div.copyright {
    position: fixed;
    bottom: 10px;
    right: 10px;
    padding: 5px;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    font-size: 12px;
    font-family: 'Roboto', sans-serif;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
    z-index: 9999;
    transition: opacity 0.3s ease-in-out;
  }
  
  div.copyright:hover {
    opacity: 0.7; /* Decrease opacity on hover for visual feedback */
  }